/* Responsive*/
@media (min-width: 576px) {
  /* Informacion del sitio */
  .section__container--img {
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
      url(../img/wallpaper-manga-w960.png);
    height: 75vh;
  }
  /* Fin informacion del sitio */
  .container--social {
    margin-top: 2rem;
  }
  .social {
    width: 25%;
  }
  /* Informacion de empresa */
  .section__container--img--nosotros {
    background-image: url(../img/nosotros-w960.png);
    height: 75vh;
  }
  /* Fin Informacion de empresa */
}
/* Vista Desktop */
@media (min-width: 1024px) {
  /* Header*/
  .logo {
    width: map-get($tamanios, 100);
    margin-left: map-get($tamanios, 30);
  }
  .logo:hover {
    animation: heartBeat;
    animation-duration: 800ms;
  }
  .header__button:hover {
    background-color: transparent;
    border: none;
  }
  /* Fin header */
  /* Inicio Nav */
  .header__nav__a:hover {
    background-color: $color-oscuro;
  }
  /* Fin Nav */
  /* Informacion del sitio */
  .section__container--img {
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
      url(../img/wallpaper-manga-w1920.png);
    background-position: center;
    background-size: cover;
    height: 80vh;
  }
  /* Fin informacion del sitio */
  /* Resultado de busqueda */
  .filter--responsive {
    display: none;
  }
  /* Cards */
  .card:hover {
    box-shadow: 0px 4px 14px 2px rgba(143, 136, 136, 0.59);
    -webkit-box-shadow: 0px 4px 14px 2px rgba(143, 136, 136, 0.59);
    -moz-box-shadow: 0px 4px 14px 2px rgba(143, 136, 136, 0.59);
    transform: scale(1.05, 1.05);
    transition: all 500ms;
  }
  .section__card__img {
    max-height: 280px !important;
  }
  /* Fin cards */
  /* Informacion de empresa */
  .section__p {
    font-size: 1rem;
  }
  .section__container--img--nosotros {
    background-image: url(../img/nosotros-w1024.png);
    height: 80vh;
  }
  /* Fin Informacion de empresa */
  /* Inicio footer */
  .footer {
    margin-top: 2%;
  }
  .footer__h4 {
    text-align: center !important;
  }
  .social {
    width: 18%;
  }
}
/* Fin Responsive */
