/* Inicio footer */
.logo.logo--footer {
  margin-top: map-get($tamanios, 20)
}
.footer__h4 {
  color: $color-claro;
  font-family: $fuente-secundaria;
}
.footer__a {
  color: $color-claro;
  font-size: 2rem;
}
.container--social{
  margin-top: 0;
}
/* Fin Footer */
