/* Inicio footer */
.logo.logo--footer {
  margin-top: map-get($tamanios, 20)
}
.footer__h4 {
  color: $color-claro;
  font-family: $fuente-secundaria;
}
.footer__a {
  margin: 0 2%;
}
.container--social{
  margin-top: 0;
}
.social {
  width: 12%;
}
/* Fin Footer */
