/* Inicio footer */
.logo.logo--footer {
  margin-top: 20px;
}
.footer__h4 {
  color: $color-claro;
  font-family: $fuente-secundaria;
}
.footer__a {
  margin: 0 2%;
}
.social {
  width: 25%;
}
/* Fin Footer */
