.logo {
    width: 100px;
    margin-left: 30px;
  }
.section__container--img{
    background-image: url(../img/wallpaper-manga-2.jpg);
    opacity: 0.8;
}
.section__container--text{
    opacity: 1;
}

.footer {
    margin-top: 2%;
  }
  .footer__h4 {
    color: #d1d8e0;
    font-size: 24px;
    font-family: "Lora", serif;
  }
  .footer__container--social {
    width: auto;
  }
  .footer__a {
    margin: 0 10px;
  }
  .social {
    width: 50px;
  }