/*Fuentes*/
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lora:ital,wght@1,600&display=swap");
/*Fin fuentes*/
/* Reglas generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  background-color: #d1d8e0 !important;
  font-family: "Times New Roman", Times, serif; }

.container--background {
  background-color: #f1f0f0 !important; }

/*Animaciones*/
@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-800px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    transform: translateZ(0);
    filter: blur(0);
    opacity: 1; } }

/*Fin animaciones*/
/*Header*/
.logo {
  width: 70px; }

.header__button {
  border: none;
  margin-top: 2.5rem; }

/* Fin header */
/* Inicio Nav */
.header__nav {
  font-family: "Lora", serif; }

.header__nav__a {
  color: #d1d8e0 !important; }

/* Fin Nav */
/* Inicio footer */
.logo.logo--footer {
  margin-top: 20px; }

.footer__h4 {
  color: #d1d8e0 !important;
  font-family: "Lora", serif; }

.footer__a {
  margin: 0 2%; }

.container--social {
  margin-top: 0; }

.social {
  width: 12%; }

/* Fin Footer */
/*Buttons*/
/*Fin buttons*/
/* Informacion del sitio */
.section__container--animation {
  animation: focus-in-expand-fwd 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 300ms both; }

.section__container--img {
  background-image: url(../img/wallpaper-manga-w480.png);
  height: 50vh;
  opacity: 0.8; }

.section__container--text, .section__h2, .article--font {
  font-family: "Libre Baskerville", serif;
  color: #2d3436 !important; }

/* Fin informacion del sitio */
/* Inicio productos */
.section__h2 {
  text-align: center; }

.article--font {
  font-family: "Lora", serif; }

.cards {
  max-height: 450px; }

.btn--font {
  font-family: "Libre Baskerville", serif; }

/* Fin productos */
/* Resultado de busqueda */
.search__h2 {
  font-family: "Libre Baskerville", serif;
  color: #2d3436 !important; }

/* Cards */
.section__card__h3, .section__card__p {
  font-family: "Lora", serif;
  color: #2d3436 !important; }

/* Fin cards */
/* Paginador */
.section__pagination__ul__li__a {
  font-family: "Lora", serif;
  color: #2d3436 !important; }

.active .section__pagination__ul__li__a {
  background-color: #d1d8e0 !important;
  border-color: #d1d8e0 !important; }

/* Fin paginador */
/* Barra lateral */
.article__lateral {
  padding-left: 8%; }

.article__lateral__h3, .article__lateral__h4 {
  font-family: "Libre Baskerville", serif;
  color: #2d3436 !important; }

.article__lateral__h4 {
  border-bottom: solid 1px #2d3436 !important; }

.article__lateral__ul {
  list-style: none; }

.article__lateral__ul__li__a {
  text-decoration: none;
  font-family: "Lora", serif;
  color: #2d3436 !important; }

/* Fin barra lateral */
/* Formulario de contacto */
.section__form, .section__h1--form, .section__form__input, .section__form__textarea {
  font-family: "Libre Baskerville", serif; }

.section__h1--form {
  color: #2d3436 !important; }

.section__form__input {
  width: 100%;
  margin: 10% 0px;
  padding: 7%; }

.section__form__textarea {
  resize: none; }

/* Fin formulario de contacto */
/* Informacion de contacto */
.section__p {
  font-family: "Libre Baskerville", serif;
  color: #2d3436 !important;
  font-size: 0.8rem; }

.section__iframe {
  width: 85%;
  height: 40%;
  margin: 2%;
  border: 0; }

/* Fin informacion de contacto */
/* Informacion de empresa */
.section__h5 {
  font-family: "Libre Baskerville", serif;
  color: #2d3436 !important; }

.section__container--img--nosotros {
  background-image: url(../img/nosotros-w480.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh; }

/* Fin informacion de empresa */
/* Responsive*/
@media (min-width: 576px) {
  /* Informacion del sitio */
  .section__container--img {
    background-image: url(../img/wallpaper-manga-w960.png);
    height: 75vh; }
  /* Fin informacion del sitio */
  .container--social {
    margin-top: 2rem; }
  .social {
    width: 25%; }
  /* Informacion de empresa */
  .section__container--img--nosotros {
    background-image: url(../img/nosotros-w960.png);
    height: 75vh; }
  /* Fin Informacion de empresa */ }

/* Vista Desktop */
@media (min-width: 1024px) {
  /* Header*/
  .logo {
    width: 100px;
    margin-left: 30px; }
  .logo:hover {
    animation: heartBeat;
    animation-duration: 800ms; }
  .header__button:hover {
    background-color: transparent;
    border: none; }
  /* Fin header */
  /* Inicio Nav */
  .header__nav__a:hover {
    background-color: #2d3436 !important; }
  /* Fin Nav */
  /* Informacion del sitio */
  .section__container--img {
    background-image: url(../img/wallpaper-manga-w1920.png);
    background-position: center;
    background-size: cover;
    height: 80vh; }
  /* Fin informacion del sitio */
  /* Resultado de busqueda */
  .filter--responsive {
    display: none; }
  /* Cards */
  .card:hover {
    box-shadow: 0px 4px 14px 2px rgba(143, 136, 136, 0.59);
    -webkit-box-shadow: 0px 4px 14px 2px rgba(143, 136, 136, 0.59);
    -moz-box-shadow: 0px 4px 14px 2px rgba(143, 136, 136, 0.59);
    transform: scale(1.05, 1.05);
    transition: all 500ms; }
  /* Fin cards */
  /* Informacion de empresa */
  .section__p {
    font-size: 1rem; }
  .section__container--img--nosotros {
    background-image: url(../img/nosotros-w1024.png);
    height: 80vh; }
  /* Fin Informacion de empresa */
  /* Inicio footer */
  .footer {
    margin-top: 2%; }
  .social {
    width: 18%; } }

/* Fin Responsive */
