/* Formulario de contacto */
.section__form {
  font-family: $fuente-principal;
}
.section__h1--form {
  @extend .section__form;
  color: $color-oscuro;
}
.section__form__input {
  @extend .section__form;
  width: 100%;
  margin: 10% 0px;
  padding: 7%;
}
.section__form__textarea {
  @extend .section__form;
  resize: none;
}
/* Fin formulario de contacto */
/* Informacion de contacto */
.section__p {
  @include font-color($fuente-principal, $color-oscuro);
  font-size: 0.8rem;
}
.section__iframe {
  width: 85%;
  height: 40%;
  margin: 2%;
  border: 0;
}
/* Fin informacion de contacto */
