/* Informacion del sitio */
.section__container--animation {
  animation: focus-in-expand-fwd 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 300ms
    both;
}

.section__container--img {
  background-image: url(../img/wallpaper-manga-w480.png);
  height: 50vh;
  opacity: 0.8;
}
.section__container--text {
  @include font-color($fuente-principal, $color-oscuro);
}
/* Fin informacion del sitio */
/* Inicio productos */
.section__h2 {
  @extend .section__container--text;
  text-align: center;
}
.article--font {
  @extend .section__container--text;
  font-family: $fuente-secundaria;
}
.card-img-top{
  height: 315px !important;
}
.btn--font {
  font-family: $fuente-principal;
}
/* Fin productos */
