/* Resultado de busqueda */
.search__h2 {
  @include font-color($fuente-principal, $color-oscuro);
}
/* Cards */
.section__card__h3 {
  @include font-color($fuente-secundaria, $color-oscuro);
}
.section__card__p {
  @extend .section__card__h3;
}
.section__card__p--gray {
  @extend .section__card__h3;
  color: $color-gris;
}
/* Fin cards */
/* Paginador */
.section__pagination__ul__li__a {
  @include font-color($fuente-secundaria, $color-oscuro);
}
.active .section__pagination__ul__li__a {
  background-color: $color-claro;
  border-color: $color-claro;
}
/* Fin paginador */
/* Barra lateral */
.article__lateral {
  padding-left: 8%;
}
.article__lateral__h3 {
  @include font-color($fuente-principal, $color-oscuro);
}
.article__lateral__h4 {
  @extend .article__lateral__h3;
  border-bottom: solid 1px $color-oscuro;
}
.article__lateral__ul {
  list-style: none;
}
.article__lateral__ul__li__a {
  text-decoration: none;
  @include font-color($fuente-secundaria, $color-oscuro);
}
/* Fin barra lateral */
