$fuente-principal: "Libre Baskerville", serif;
$fuente-secundaria: "Lora", serif;

$color-oscuro: #2d3436 !important;
$color-claro: #f9f9f9 !important;
$color-gris: #5e5e5e !important;
$color-fondo: #f1f0f0 !important;

$tamanios: (
  10: 10px,
  20: 20px,
  30: 30px,
  40: 40px,
  50: 50px,
  60: 60px,
  70: 70px,
  80: 80px,
  90: 90px,
  100: 100px,
);